body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
 
  
  @font-face {
    font-family: fuentepoke;
    src: url(../fuentes/game.ttf);
}

h1, h3, h4, h2, span{
    font-family: fuentepoke;
    font-weight: 900;
}